body{
		font-size: 16px;
		color:#fff;
		background-color: #055910;
		font-family: 'Oxygen', sans-serif;
}

/**HEADER**/
#header-nav{
	background-color: #d0f0c0;
	border-radius: 0;
	border: 0;
	clear:left;
}

#logo-img{
	background: url('../paklogo.png') no-repeat;
	height: 150px;
	width: 150px;
	margin: 10px 0px 0px 0;
}
/**NAV BRA BRAND & LIST**/
.navbar-brand{
	padding-top: 25px;
}

.navbar-brand h1{
	font-family: 'Oxygen', sans-serif;
	color: #a20932;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

.navbar-brand p{
	color: #ff6666;
	text-transform: uppercase;
	font-size: .7em;
	margin-top: 15px;
}

.navbar-brand p span{
	vertical-align: middle;
}

#navbar-list{
	margin-top: 10px;
}

#navbar-list a{
	color: #055910;
	text-align: center;
}

#navbar-list a:hover{
	background-color: #18f496;
}

#navbar-list a span{
	font-size: 1.8em;
}

#phone{
	margin-top: 2px;
}

#phone a{
	text-align: center;
	padding-bottom: 0;
}

#phone span{
	text-align: center;
	padding-bottom: 0;
}


#phone div{
	color: #a20932;
	text-align: right;
	padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #a20932;
}

.navbar-header button.navbar-toggle{
	clear:both;
	margin-top: -30px;
}
/**NAVBAR BRAND , LIST & HEADER ENDS**/

/**HEADING OF THE PAGE**/
.container-fluid{
		/**background-color: #d0f0c0;**/
		color:  #d0f0c0;
		display: block;
		font-family: 'Oxygen', sans-serif;
	}
/**HEADING OF THE PAGE  ENDS**/

/**MAIN CONTENT**/
section{
	margin-top: 20px;
  	border: 1px solid #a20932;
  	background-color: #a20932;
  	color: #a20932;
  	position:relative;
}

h3{
	border: 1px solid black;
	font-family: 'Oxygen', sans-serif;
	font-size: 120%;
	background-color: #d0f0c0;
  	color:  #055910;
  	font-weight: bold;
  	width: 100%;
  	height: 40px;
  	text-align: center;
  	padding: 10px;
}

a:link, a:visited {text-decoration: none;  color: white;}
a:hover{background: white; color: black; text-decoration: none;}

.row p{
	background-color: #d0f0c0; /**#d8bfd8**/
	font-family: 'Oxygen', sans-serif;
	font-size: 140%;
  	color: black;
  	width: 100%;
  	clear: both;
  	padding: 10px;
}

.row p a{
	font-family: 'Oxygen', sans-serif;
	font-size: 100%;
	color: #a20932;
	text-transform: uppercase;
}

#back-to-top{
	font-weight: bold;
	padding-bottom: 5px;
}

.row{
	width: 100%;
	padding-left: 25px;
}
/**MAIN CONTENT ENDS**/


/**********DESKTOP VERSION***********/

@media(min-width: 992px) and (max-width: 1199px){

}

/**********TABLET VERSION***********/

@media(min-width: 768px) and (max-width: 991px){
			#logo-img{
	background: url('../paklogo-sm.png') no-repeat;
	height: 100px;
	width: 100px;
	margin: 10px 0px 0px 0;
}
}

/**********MOBILE VERSION***********/

@media(max-width: 767px){
	/*HEADER*/
	.navbar-brand{
		padding-top: 10px;
		height: 80px;
	}
	.navbar-brand h1{
		padding-top: 10px;
		font-size: 6vw;
	}
	.navbar-brand p span{
		font-size: 1em;
		margin-top: 12px;
	}
	#collapsable-nav a{
		font-size: 1.2em;
	}	
	#collapsable-nav a span{
		font-size: 1em;
		margin-right: 5px;
	}

/** CALL BUTTON**/

#call-btn > a{
	background-color:  #d0f0c0;
	color:  #a20932;
	font-family: 'Oxygen', sans-serif;
	font-size: 1.5em;
	display: block;
	margin: 0 20px;
	padding: 10px;
	border: 2px solid #a20932;
}

#xs-deliver{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: .7em;
	letter-spacing: .1em;
	text-transform: uppercase;
}
/** CALL BUTTON ENDS**/

/**HEADING OF THE PAGE**/
.container-fluid{
	margin: 0 20px;
	padding: 10px;
	/**border: 2px solid #a20932;**/
	}
/**HEADING OF THE PAGE  ENDS**/
}
